@charset "UTF-8";


#modal {
	width: 50%;
	height: 50vh;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	transform: translate(-50%, -50%);
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	background: rgba(255, 255, 255, 0.7);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
  #modal .modal-window {
            background: rgba( 69, 139, 197, 0.70 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 13.5px );
            -webkit-backdrop-filter: blur( 13.5px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            width: 100%;
            height: 50vh;
            position:relative;
            top: 50%;
            left:50%;
            transform: translate(-50%, -50%);
        }
.modal-overlay .modal-title {
	padding-left: 10px;
	text-shadow: 1px 1px 2px gray;
	display: inline;
	align-items: center;
	justify-content: center;
	color: white;
}

#modal .modal-title h2 {
	  position :relative;
	  top : 17px;
      display: inline;
      text-align: center;
      padding : 270px;
 }

#modal .close-area {
	font-size : 25px;
	position : relative;
	top : 18px;
	right : 25px;
	display: inline;
	float: right;
	padding-right: 10px;
	cursor: pointer;
	text-shadow: 1px 1px 2px gray;
	color: white;
}

.tg {
	border-collapse:collapse;
	border-spacing:0;
	}
	
